{% extends 'base.html' %}
{% load mytags %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Checkout</h1>
        </div>
    </div>
</header>
<br><br>
<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
          Order Summary
        </div>
        {% for product in cart_products %}
            <div class="card-body">
                {% if product.on_sale %}
                    <h5 class="card-title">{{product.name}} - <span>${{product.sale_price}}</span></h5>
                {% else %}
                    <h5 class="card-title">{{product.name}} - <span>${{product.price}}</span></h5>
                {% endif %}
                <small>Quantity: {{ cart_quantities|get_item:product.id }}</small>
            </div>
        {% endfor %}
        
        <div class="card-footer">
            <strong>Total: ${{total_price}}</strong>
        </div>
        
    </div>
    <br><br>
    <div class="row">
        <h5>Shipping Info</h5>
        <br><br>

        {% if user_addresses %}
        <div class="col-md-6">
            <button class="btn btn-secondary align-center" id="add-addr">Add new address</button>
            <button class="btn btn-secondary align-center" id="select-addr" style="display:none">Select existing Address</button>
        </div>
        <br><br>
        <form method="POST" action="{% url 'payment_billing' %}" id="select-addr-form">
            {% csrf_token %}
            <select name="selected_address">
                {% for addr in user_addresses %}
                    {% if selected_address == addr.pk|slugify %}
                    <option value="{{addr.pk}}" selected>{{addr}}</option>
                    {% else %}
                    <option value="{{addr.pk}}">{{addr}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>
            <br>
            <button class="btn btn-primary">Continue to Billing</button>
            <br><br>
            
        </form>
        <form method="POST" action="{% url 'payment_billing' %}" id="add-addr-form" style="display:none;">
            {% csrf_token %}
            {{form.as_p}}            
            <button class="btn btn-primary">Continue to Billing</button>
        </form>
        <script>
            $("#add-addr, #select-addr").on('click', (e) => {
                $("#select-addr-form").toggle();
                $("#add-addr-form").toggle();
                $("#select-addr").toggle();
                $("#add-addr").toggle();
            });
        </script>
        {% else %}
        <form method="POST" action="{% url 'payment_billing' %}" id="add-addr-form">
            {% csrf_token %}
            {{form.as_p}}            
            <button class="btn btn-primary">Continue to Billing</button>
        </form>
        {% endif %}
        
        
    </div>
</div>
<br><br>
{% endblock %}